absl-py
asgiref
astunparse
autopep8
cachetools
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-database-url
Django
django-chartjs
django-googledrive-storage
djongo
dnspython
flatbuffers
gast
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
gunicorn
h5py
httplib2
idna
importlib-metadata
jax
keras
libclang
Markdown
MarkupSafe
ml-dtypes
numpy
oauthlib
opt-einsum
packaging
pandas
Pillow
postgres
protobuf
psycopg2-binary
psycopg2-pool
pyasn1
pyasn1-modules
pycodestyle
pycparser
PyJWT
pymongo
pyparsing
python-dateutil
python-dotenv
python3-openid
pytz
requests
requests-oauthlib
rsa
scipy
six
social-auth-app-django
social-auth-core
sqlparse
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
toml
typing_extensions
tzdata
uritemplate
urllib3
Werkzeug
whitenoise
wrapt
zipp